<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaboardMapper">


	<!-- 페이지네이션 -->
	<resultMap type="QnaPagination" id="pg_rm">
		<result property="listCount" column="CNT" />
	</resultMap>

	<!-- 카테고리 -->
	<resultMap type="QnaCategory" id="category_rm">
		<id property="qnaCategoryNo" column="QNA_CATEGORY_NO" />
		<result property="qnaCategoryNm" column="QNA_CATEGORY_NM" />
	</resultMap>

	<!-- 문의게시글 -->
	<resultMap type="QnaBoard" id="qna_rm">
		<id property="qnaNo" column="QNA_NO" />

		<result property="qnaPno" column="QNA_PNO" />
		<result property="qnaTitle" column="QNA_TITLE" />
		<result property="qnaContent" column="QNA_CONTENT" />
		<result property="qnaReadCount" column="QNA_READ_COUNT" />
		<result property="qnaCreateDt" column="QNA_CREATE_DT" />
		<result property="qnaModifyDt" column="QNA_MODIFY_DT" />
		<result property="qnaStatus" column="QNA_STATUS" />
		<result property="qnaCategoryNo" column="QNA_CATEGORY_NO" />
		<result property="qnaCategoryNm" column="QNA_CATEGORY_NM" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNick" column="MEMBER_NICK" />
		<result property="memberGrade" column="MEMBER_GRADE" />

	</resultMap>


	<!-- 게시글 목록 갯수 조회 -->
	<select id="getListCount" resultMap="pg_rm">
		SELECT COUNT(*) CNT FROM
		QNA_LIST WHERE QNA_STATUS='Y' OR QNA_STATUS= 'S'
	</select>

	<!-- 게시글 목록 갯수 조회 (검색)  -->
	<select id="getSearchListCount" parameterType="QnaSearch" resultMap="pg_rm">
			SELECT COUNT(*) CNT FROM QNA_LIST WHERE QNA_STATUS='Y' OR QNA_STATUS= 'S'
			<if test="sv!=null">
				AND
				<bind name="val" value="'%' +sv+ '%'"/>
				<choose>
					<when test="sk=='title'">
						QNA_TITLE LIKE #{val}
					</when>
					<when test="sk=='content'">
						QNA_CONTENT LIKE #{val}
					</when>
					<when test="sk=='ticontent'">
						(QNA_TITLE LIKE #{val} OR QNA_CONTENT LIKE #{val})
					</when>
					<when test="sk=='writer'">
						MEMBER_NICK LIKE #{val}
					</when>
					<when test="sk=='category'">
						QNA_CATEGORY_NO = #{sc} AND (QNA_TITLE LIKE #{val} OR QNA_CONTENT LIKE #{val})
					</when>
				</choose>
			</if>
	</select>

	<!-- 계층형 게시글 목록 조회  -->
	<select id="selectBoardList" parameterType="_int" resultMap="qna_rm">
		SELECT QNA_NO, QNA_PNO, QNA_CATEGORY_NM,
		(LPAD('', 3*(LEVEL)) || QNA_TITLE) AS QNA_TITLE,
		MEMBER_NICK, QNA_READ_COUNT, QNA_CREATE_DT, QNA_STATUS
		FROM QNA_LIST
		WHERE QNA_STATUS IN ('Y','S')
		START WITH QNA_PNO IS NULL
		CONNECT BY PRIOR QNA_NO = QNA_PNO
		ORDER SIBLINGS BY QNA_NO DESC
	</select>
	
	<select id="selectSearchBoardList" parameterType="QnaSearch" resultMap="qna_rm">
        SELECT QNA_NO, QNA_PNO,QNA_CATEGORY_NO, QNA_CATEGORY_NM,
        LPAD(' ', 3*(LEVEL)) || QNA_TITLE AS QNA_TITLE,
        QNA_CONTENT,
        MEMBER_NICK, QNA_READ_COUNT, QNA_CREATE_DT, QNA_STATUS
        FROM QNA_LIST
        WHERE QNA_STATUS IN ('Y','S')
        START WITH QNA_PNO IS NULL
        CONNECT BY PRIOR QNA_NO = QNA_PNO
		<if test="sv!=null">
				AND
				<bind name="val" value="'%' +sv+ '%'"/>
				<choose>
					<when test="sk=='title'">
						QNA_TITLE LIKE #{val}
					</when>
					<when test="sk=='content'">
						QNA_CONTENT LIKE #{val}
					</when>
					<when test="sk=='ticontent'">
						(QNA_TITLE LIKE #{val} OR QNA_CONTENT LIKE #{val})
					</when>
					<when test="sk=='writer'">
						MEMBER_NICK LIKE #{val}
					</when>
					<when test="sk=='category'">
						QNA_CATEGORY_NO = #{sc} AND (QNA_TITLE LIKE #{val} OR QNA_CONTENT LIKE #{val})
					</when>
				</choose>
			</if>
		ORDER SIBLINGS BY QNA_NO DESC
	</select>
	
	<select id="selectBoard" parameterType="_int" resultMap="qna_rm">
		SELECT QNA_NO,QNA_CATEGORY_NO, QNA_CATEGORY_NM, QNA_TITLE, QNA_CONTENT,
		MEMBER_NO, MEMBER_NICK, MEMBER_GRADE, QNA_READ_COUNT, QNA_CREATE_DT, QNA_MODIFY_DT,QNA_STATUS
		FROM QNA_BOARD
		JOIN QNA_CATEGORY USING(QNA_CATEGORY_NO)
		JOIN MEMBER USING(MEMBER_NO)
		WHERE QNA_NO = #{qnaNo}
		AND QNA_STATUS IN ('Y','S') 
	</select>
	
	<update id="increaseReadCount" parameterType="_int">
		 UPDATE QNA_BOARD SET
		 QNA_READ_COUNT = QNA_READ_COUNT + 1
		 WHERE QNA_NO = #{qnaNo}
	</update>
	
	<select id="selectCategory" resultMap="category_rm">
		SELECT * FROM QNA_CATEGORY
	</select>
	
	<insert id="insertBoard" parameterType="QnaBoard">
		INSERT INTO QNA_BOARD
		VALUES(SEQ_QBNO.NEXTVAL,NULL,#{qnaTitle},#{qnaContent},DEFAULT,DEFAULT,DEFAULT,#{qnaStatus},#{qnaCategoryNo},#{memberNo})
	</insert>

	<insert id="insertBoardRe" parameterType="QnaBoard">
		INSERT INTO QNA_BOARD
		VALUES(SEQ_QBNO.NEXTVAL,#{qnaPno},#{qnaTitle},#{qnaContent},DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{qnaCategoryNo},#{memberNo})
	</insert>
</mapper>
