<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 별칭 작성 -->
	<typeAliases>
		<typeAlias type="com.wtwi.fin.freeboard.model.vo.Board" alias="FreeBoard" />
		<typeAlias type="com.wtwi.fin.freeboard.model.vo.Category" alias="FreeCategory" />
		<typeAlias type="com.wtwi.fin.freeboard.model.vo.Pagination" alias="FreePagination" />
    	<typeAlias type="com.wtwi.fin.freeboard.model.vo.Image" alias="FreeImage" />
    	<typeAlias type="com.wtwi.fin.freeboard.model.vo.Search" alias="FreeSearch" />
    	<typeAlias type="com.wtwi.fin.freeboard.model.vo.Reply" alias="FreeReply" />
    
		<typeAlias type="com.wtwi.fin.chat.model.vo.ChatMessage" alias="ChatMessage" />
    	<typeAlias type="com.wtwi.fin.chat.model.vo.ChatRoom" alias="ChatRoom" />

		<typeAlias type="com.wtwi.fin.qnaboard.model.vo.QnaBoard" alias="QnaBoard" />
		<typeAlias type="com.wtwi.fin.qnaboard.model.vo.QnaCategory" alias="QnaCategory" />
		<typeAlias type="com.wtwi.fin.qnaboard.model.vo.Pagination" alias="QnaPagination" />
		<typeAlias type="com.wtwi.fin.qnaboard.model.vo.Search" alias="QnaSearch" />
		<typeAlias type="com.wtwi.fin.qnaboard.model.vo.QnaReply" alias="QnaReply" />
		
		<typeAlias type="com.wtwi.fin.member.model.vo.Member" alias="Member" /> 
		<typeAlias type="com.wtwi.fin.member.model.vo.Pagination" alias="MyPagePagination" />
		<typeAlias type="com.wtwi.fin.member.model.vo.Search" alias="MyPageSearch" />
		<typeAlias type="com.wtwi.fin.member.model.vo.Review" alias="MyReview" />
		<typeAlias type="com.wtwi.fin.member.model.vo.Chat" alias="Chat" />
		<typeAlias type="com.wtwi.fin.member.model.vo.Report" alias="Report" />
    	
		<typeAlias type="com.wtwi.fin.attraction.model.vo.Review" alias="Review" />
		<typeAlias type="com.wtwi.fin.attraction.model.vo.ReviewPagination" alias="ReviewPagination" />
    	<typeAlias type="com.wtwi.fin.attraction.model.vo.ReviewImage" alias="ReviewImage" />
    	
		
		<typeAlias type="com.wtwi.fin.attraction.model.vo.Attraction" alias="Attraction" />
    
    

	</typeAliases>
	 
	<!-- mapper 파일 위치 등록 -->
	<mappers>
		<mapper resource="/mappers/freeboard-mapper.xml" />
    	<mapper resource="/mappers/freereply-mapper.xml" />
    

		<mapper resource="/mappers/qnaboard-mapper.xml" />
		<mapper resource="/mappers/qnareply-mapper.xml" />
    

		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/myPage-mapper.xml"/>
		
		<mapper resource="/mappers/review-mapper.xml"/>
    
   	<mapper resource="/mappers/chat-mapper.xml" />
   	
   	<mapper resource="/mappers/attraction-mapper.xml"/>

	</mappers>

</configuration> 
